@import "./base.css";
@import "v-network-graph/lib/style.css";

a {
  color: var(--ph-c-primary);
}

a:hover {
  color: var(--ph-c-primary-soft);
}

.v-network-graph {
  opacity: 0;
}

.v-network-graph.loaded {
  opacity: 1;
  transition: opacity 0.3s;
}
